<%= form_with model: group do |f| %>
  <table class="table table-borderless">
    <tr>
      <td>
        <strong><%= f.label :グループ名 %></strong><br>
        <%= f.text_field :name, placeholder: "グループ名" %>
      </td>
    </tr>

    <tr>
      <td>
        <strong><%= f.label :紹介文 %></strong><br>
        <%= f.text_area :introduction, placeholder: "紹介文", size: "40x5" %>
      </td>
    </tr>

    <tr>
      <td>
        <strong><%= f.label :グループ画像 %></strong><br>
        <%= f.file_field :group_image, accept: "image/*" %>
      </td>
    </tr>

    <tr>
      <td><%= f.submit class: "btn btn-success" %></td>
    </tr>
  </table>
<% end %>