<div class="d-flex">
  <h2 class="heading group-action">グループ一覧</h2>
  <%= link_to "グループ作成", new_group_path(@group), class: "btn btn-success mt-3" %>
</div>

<div class="container">
  <div class="row">
    <table class="table mt-3">
      <thead>
        <tr>
          <th>グループ画像</th>
          <th>グループ名</th>
          <th>人数</th>
          <th>オーナー名</th>
          <th>紹介文</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to group_path(group) do %>
                <%= image_tag group.get_group_image, size: "50x50", class: "profile-image" %>
              <% end %>
            </td>
            <td><%= link_to group.name, group_path(group) %></td>
            <td><%= group.group_users.count %></td>
            <td><%= link_to group.owner.name, user_path(@user) %></td>
            <td><%= group.introduction %></td>
            <td>
              <% if group.is_owned_by?(current_user) %>
                <%= link_to "編集", edit_group_path(group), class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
