<div class="d-flex">
  <h2 class="heading group-action">グループ一覧</h2>
  <%= link_to "グループ作成", new_group_path(@group), class: "new-group-link btn btn-sm btn-success" %>
</div>

<div class="container">
  <div class="row">
    <table class="table mt-3">
      <thead>
        <tr>
          <th class="groups-heading">グループ画像</th>
          <th class="groups-heading">グループ名</th>
          <th class="groups-heading">人数</th>
          <th class="groups-heading">紹介文</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to group_path(group) do %>
                <%= image_tag group.get_group_image, class: "profile-image-design profile-image" %>
              <% end %>
            </td>
            <td class="groups-body">
              <%= link_to group_path(group), class: "action-link" do %>
                <%= group.name %>
              <% end %>
            </td>
            <td class="groups-body"><%= group.group_users.count %></td>
            <td class="groups-body"><%= group.introduction %></td>
            <td>
              <% if group.is_owned_by?(current_user) %>
                <%= link_to "編集", edit_group_path(group), class: "btn btn-sm btn-success groups-edit-button-size" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row pagenation">
    <%= paginate @groups %>
  </div>
</div>
