<h2>グループ詳細</h2>

<p><%= image_tag @group.get_group_image(100, 100) %></p>
<p>グループ名<%= @group.name %></p>
<p>紹介文<%= @group.introduction %></p>
<p>メンバー</p>
<% @group.users.each do |user| %>
  <li style="list-style: none;"><%= user.name %></li>
<% end %>

<% if @group.is_owned_by?(current_user) %>
  <%= link_to "編集", edit_group_path(@group), class: "btn btn-success" %>
  <%= link_to 'イベントのお知らせを送る', new_group_event_notice_path(@group) %>
<% elsif @group.includesUser?(current_user) %>
  <%= link_to "グループから抜ける", group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
<% else %>
  <%= link_to "グループに入る", group_group_users_path(@group), method: :post, class: "btn btn-sm btn-success" %>
<% end %>

<%= link_to "グループ一覧", groups_path, class: "btn btn-primary" %>