<%= form_with model: post do |f| %>
  <table class="table table-borderless">
    <tr>
      <td>
        <strong><%= f.label :タイトル %></strong><br>
        <%= f.text_field :title, size: "40" %>
      </td>
    </tr>

    <tr>
      <td>
        <strong><%= f.label :本文 %></strong><br>
        <%= f.text_area :body, size: "40x5" %>
      </td>
    </tr>

    <tr>
      <td>
        <strong><%= f.label :投稿写真 %></strong><br>
        <%= f.file_field :post_image, accept: "image/*" %>
      </td>
    </tr>

    <tr>
      <td>
        <strong class="mr-3"><%= f.label :ジャンル %></strong>
        <%= f.collection_select :genre_id, genres, :id, :name, include_blank: "--選択して下さい--" %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.submit class: "btn btn-success" %>
      </td>
    </tr>
  </table>
<% end %>