<% posts.each do |post| %>
  <div class="col-md-3">
    <div class="card mt-3 shadow-lg">
      <%= link_to post_path(post) do %>
        <%= image_tag post.get_post_image, class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-8 px-0">
            <p>投稿日:<%= post.updated_at.strftime("%Y/%m/%d") %></p>
          </div>
          <div class="col-2 px-0">
            <%= render "public/favorites/btn", post: post %>
          </div>
        </div>
        <p>[ジャンル] <%= post.genre.name %></p>
        <p>
          <%= link_to user_path(post.user), class: "action-link" do %>
            <i class="fa-solid fa-user"></i>
            <%= post.user.name %>
          <% end %>
        </p>
        <p>
          <%= link_to post_path(post), class: "action-link" do %>
            <i class="fa-solid fa-book"></i>
            この投稿の詳細を見る
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>