<h2>投稿内容編集</h2>

<div class="container">
  <div class="row">
    <%= form_with model: @post do |f| %>
      <div class="field">
        <%= f.label :タイトル %>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :本文 %>
        <%= f.text_area :body %>
      </div>

      <div class="field">
        <%= f.label :投稿写真 %>
        <%= f.file_field :post_image, accept: "image/*" %>
      </div>

      <div class="field">
        <%= f.label :ジャンル %>
        <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択して下さい--" %>
      </div>

      <div class="action">
        <% if @post_recipe.is_draft == true %>
          <%= f.submit "下書きを投稿", :name => 'publicize_draft', "btn btn-success" %>
          <%= f.submit "下書きを更新", :name => 'update_draft', "btn btn-primary" %>
        <% else %>
          <%= f.submit "変更を保存", :name => 'update_post', class: "btn btn-success" %>
        <% end %>
      </div>
    <% end %>
    <div>
      <u><%= link_to "レシピを削除", post_path(@post), method: :delete, data: {confirm: "このレシピを削除しますか？"}, class: "btn btn-danger" %></u>
    </div>
  </div>
</div>