<h2 class="heading">ログイン</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <table class="table table-borderless">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <tr>
            <td>
              <strong><%= f.label :メールアドレス %></strong><br>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
            </td>
          </tr>

          <tr>
            <td>
              <strong><%= f.label :パスワード %></strong><br>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
            </td>
          </tr>

          <tr>
            <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <%= render "admin/shared/links" %>
</div>
