<% if users.exists? %>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>プロフィール画像</th>
        <th>ユーザー名</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image, size: "50x50", class: "profile-image" %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(user), class: "action-link" do %>
              <i class="fa-solid fa-user"></i>
              <%= user.name %>
            <% end %>
          </td>
          <td>フォロー数:<%= user.followings.count %></td>
          <td>フォロワー数:<%= user.followers.count %></td>
          <td>
            <%= render "public/relationships/btn", user: user %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="mt-3">ユーザーはいません</p>
<% end %>