<h2 class="heading">イベントのお知らせ</h2>

<div class="container">
  <div class="row justify-content-center">
    <%= form_with url: group_event_notices_path(@group), method: :post, local:true do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>
            <strong> <%= f.label :タイトル %></strong><br>
            <%= f.text_field :title, placeholder: "イベントのお知らせ" %>
          </td>
        </tr>

        <tr>
          <td>
            <strong><%= f.label :本文 %></strong><br>
            <%= f.text_area :body, placeholder: "本文", size: "40x5" %>
          </td>
        </tr>

        <tr>
          <td><%= f.submit "送信", class: "btn btn-success" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>