<h2 class="heading"><%= @user.name %>さんとのチャット</h2>

<div class="container">
  <div class="message mt-3">
    <% @chats.each do |chat| %>
      <% if chat.user_id == current_user.id %>
        <p style="text-align: right;">
          <span class="chat-text1"><%= chat.message %></span>
          <span class="chat-date"><%= chat.created_at.strftime("%m/%d") %></span>
        </p>
      <% else %>
        <p style="text-align: left;">
          <%= link_to user_path(chat.user) do %>
            <%= image_tag chat.user.get_profile_image, class: "profile-image-design profile-image" %>
          <% end %>
          <span class="chat-text2"><%= chat.message %></span>
          <p class="chat-date"><%= chat.created_at.strftime("%m/%d") %></p>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="mt-5" style="text-align: right;">
    <%= form_with model: @chat do |f| %>
      <%= f.text_field :message, size: "30" %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "送信", class: "btn btn-sm btn-success" %>
    <% end %>
  </div>
</div>