<h2 class="heading">ジャンル一覧・追加</h2>

<div class="container">
  <div class="row justify-content-center">
    <%= render "layouts/errors", obj: @genre %>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-5 mt-3">
      <%= form_with model: @genre, url: admin_genres_path do |f| %>
        <div class="mr-5 d-inline-block"><strong><%= f.label :ジャンル名 %></strong></div>
        <div class="mr-5 d-inline-block"><%= f.text_field :name, placeholder: "ジャンル名" %></div>
        <%= f.submit class: "btn btn-success genre-link" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-5 mt-5">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集", edit_admin_genre_path(genre.id), class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>