<h2 class="heading ml-5">新規登録</h2>

<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <table class="table table-borderless">
          <tr>
            <td>
              <strong><%= f.label "ユーザー名" %></strong><br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
                </div>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名", size: "40", class: "form-control" %>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <strong><%= f.label "メールアドレス" %></strong><br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size: "40", class: "form-control" %>
              </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <strong><%= f.label "パスワード(6文字以上)" %></strong><br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
                </div>
                <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", size: "40", class: "form-control" %>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <strong><%= f.label "パスワード(確認用)" %></strong><br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
                </div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード", size: "40", class: "form-control" %>
              </div>
            </td>
          </tr>

          <tr>
            <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>

<h5 class="info-text mt-5"><strong>既に登録済みの方</strong>は<%= render "public/shared/links" %>からログインしてください。</h5>

