<h2 class="heading"><%= @user.name %>さんの情報編集</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-2 mt-3">
      <%= image_tag @user.get_profile_image, size: "100x100", class: "profile-image" %>
    </div>
    <div class="col-sm-9">
      <table class="table table-borderless">
        <%= form_with model: @user, url: admin_user_path, local: true, method: :patch do |f| %>
          <tr>
            <td>
              <strong>ユーザーID</strong><br>
              <%= @user.id %>
            </td>
          </tr>

          <tr>
            <td>
              <strong><%= f.label :ユーザー名 %></strong><br>
              <%= f.text_field :name %>
            </td>
          </tr>

          <tr>
            <td>
              <strong><%= f.label :メールアドレス %></strong><br>
              <%= f.email_field :email %>
            </td>
          </tr>

          <tr>
            <td>
               <strong><%= f.label :自己紹介 %></strong><br>
               <%= f.text_area :introduction, size: "40x5" %>
            </td>
          </tr>

          <tr>
            <td>
              <strong><%= f.label :ステータス %></strong><br>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
            </td>
          </tr>

          <tr>
            <td><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>