<h2 class="heading ml-5"><%= @user.name %>さんの情報編集</h2>

<div class="container">
  <div class="row">
    <div class="col-2 mt-3">
      <%= image_tag @user.get_profile_image, size:'100x100', class: "profile-image" %>
    </div>
    <div class="col-10">
       <table class="table table-borderless">
         <%= form_with model: @user, url: admin_user_path, local: true, method: :patch do |f| %>
           <tr>
             <th>ユーザーID</th>
             <td><%= @user.id %></td>
           </tr>
           <tr>
             <th><%= f.label :ユーザー名 %></th>
             <td><%= f.text_field :name, size: "40" %></td>
           </tr>

           <tr>
             <th><%= f.label :メールアドレス %></th>
             <td><%= f.email_field :email, size: "40" %></td>
           </tr>
           <tr>
             <th><%= f.label :自己紹介 %></th>
             <td><%= f.text_area :introduction, size: "40x5" %></td>
           </tr>
           <tr>
             <th><%= f.label :ステータス %></th>
             <td>
               <%= f.radio_button :is_deleted, true %>
               <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
               <%= f.radio_button :is_deleted, false %>
               <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
             </td>
           </tr>
           <tr>
             <td><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
           </tr>
         <% end %>
       </table>
    </div>
  </div>
</div>