<h2 class="heading">ユーザー一覧</h2>

<div class="container">
  <div class="row">
    <table class="table mt-3">
      <thead>
        <tr>
          <th class="users-heading">ユーザーID</th>
          <th class="users-heading">プロフィール画像</th>
          <th class="users-heading">ユーザー名</th>
          <th class="users-heading">メールアドレス</th>
          <th class="users-heading">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="users-body"><%= user.id %></td>
            <td>
              <%= link_to admin_user_path(user) do %>
                <%= image_tag user.get_profile_image, class: "profile-image users-profile-image" %>
              <% end %>
            </td>
            <td class="users-body"><%= link_to user.name, admin_user_path(user), class: "action-link" %></td>
            <td class="users-body"><%= user.email %></td>
            <td class="users-body">
              <% if user.is_deleted %>
                <p class="status-true"><strong>退会</strong></p>
              <% else %>
                <p class="status-false"><strong>有効</strong></p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row pagenation">
    <%= paginate @users %>
  </div>
</div>