<h2 class="heading ml-5"><%= @user.name %>さんの情報</h2>

<div class="container">
  <div class="row">
    <div class="col-2 mt-3">
      <%= image_tag @user.get_profile_image, size:'100x100', class: "profile-image" %>
    </div>
    <div class="col-8">
       <table class="table table-borderless">
         <tr>
           <th>ユーザーID</th>
           <td><%= @user.id %></td>
         </tr>
         <tr>
           <th>ユーザー名</th>
           <td><%= @user.name %></td>
         </tr>

         <tr>
           <th>メールアドレス</th>
           <td><%= @user.email %></td>
         </tr>
         <tr>
           <th>自己紹介</th>
           <td><%= @user.introduction %></td>
         </tr>
         <tr>
           <th>ステータス</th>
           <td>
             <% if @user.is_deleted %>
                <p class="status-true"><strong>退会</strong></p>
              <% else %>
                <p class="status-false"><strong>有効</strong></p>
              <% end %>
           </td>
         </tr>
       </table>
    </div>
    <div class="col-2">
      <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-success" %>
    </div>
  </div>
  <div class="row mt-3">
    <div>
     <% @user.posts.each do |post| %>
       <div class="col-sm-6 mb-3 mb-sm-0">
         <div class="card">
           <%= link_to admin_post_path(post) do %>
             <%= image_tag post.get_post_image, class: "card-img-top" %>
           <% end %>
           <div class="card-body">
             <p>投稿日:<%= post.updated_at.strftime("%Y/%m/%d") %></p>
             <p>ジャンル:<%= post.genre.name %></p>
             <p><%= link_to "詳細を見る", admin_post_path(post) %></p>
           </div>
         </div>
       </div>
     <% end %>
    </div>
  </div>
</div>