<h2 class="heading"><%= @user.name %>さんの情報</h2>

<div class="container">
  <div class="row">
    <div class="col-2 mt-3">
      <%= image_tag @user.get_profile_image, size: "100x100", class: "profile-image-design" %>
    </div>
    <div class="col-sm-6">
      <table class="table table-borderless">
        <tr>
          <th class="user-heading">ユーザーID</th>
          <td class="user-body"><%= @user.id %></td>
        </tr>

        <tr>
          <th class="user-heading">ユーザー名</th>
          <td class="user-body"><%= @user.name %></td>
        </tr>

        <tr>
          <th class="user-heading">メールアドレス</th>
          <td class="user-body"><%= @user.email %></td>
        </tr>

        <tr>
          <th class="user-heading">自己紹介</th>
          <td class="user-body"><%= @user.introduction %></td>
        </tr>

        <tr>
          <th class="user-heading">ステータス</th>
          <td class="user-body">
            <% if @user.is_deleted %>
              <p class="status-true"><strong>退会</strong></p>
            <% else %>
              <p class="status-false"><strong>有効</strong></p>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-sm-2">
      <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <% @user.posts.each do |post| %>
      <div class="col-sm-3">
        <div class="card mt-3 shadow-lg">
          <%= link_to admin_post_path(post) do %>
            <%= image_tag post.get_post_image, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <p>投稿日:<%= post.updated_at.strftime("%Y/%m/%d") %></p>
            <p>[ジャンル]<%= post.genre.name %></p>
            <p>
              <%= link_to admin_post_path(post), class: "action-link" do %>
                <i class="fa-solid fa-book"></i>
                この投稿の詳細を見る
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row pagenation">
    <%= paginate @posts %>
  </div>
</div>

