<h2 class="heading">登録情報編集</h2>

<div class="container">
  <div class="row justify-content-center">
    <%= render "layouts/errors", obj: @user %>
  </div>
  <div class="row justify-content-center">
    <%= form_with model: @user do |f| %>
      <table>
        <tr>
          <td>
            <strong><%= f.label :ユーザー名 %></strong><br>
            <%= f.text_field :name %>
          </td>
        </tr>

        <tr>
          <td>
            <strong><%= f.label :メールアドレス %></strong><br>
            <%= f.email_field :email %>
          </td>
        </tr>

        <tr>
          <td>
            <strong><%= f.label :自己紹介 %></strong><br>
            <%= f.text_area :introduction, size: "40x5", placeholder: "50文字以内で入力してください" %>
          </td>
        </dtr>

        <tr>
          <td>
            <strong><%= f.label :プロフィール画像 %></strong><br>
            <%= f.file_field :profile_image %>
          </td>
        </tr>
      </table>

      <div class="mt-5">
        <%= f.submit "編集内容を更新", class: "btn btn-success mr-5" %>
        <%= link_to "退会", users_confirm_user_path(current_user.id), class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>