<h2 class="heading">いいね一覧</h2>

<div class="container">
  <div class="row">
    <table class="table mt-3">
      <thead>
        <tr>
          <th>投稿写真</th>
          <th>タイトル</th>
          <th>ジャンル</th>
          <th>ユーザー名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @favorite_posts.each do |post| %>
          <tr>
            <td>
              <%= link_to post_path(post) do %>
                <%= image_tag post.get_post_image, size: "100x60" %>
              <% end %>
            </td>
            <td>
              <%= link_to post_path(post), class: "action-link" do %>
                <%= post.title %>
              <% end %>
            </td>
            <td><%= post.genre.name %> </td>
            <td>
              <%= link_to user_path(post.user), class: "action-link" do %>
                <i class="fa-solid fa-user"></i>
                <%= post.user.name %>
              <% end %>
            </td>
            <td>
              <%= render "public/favorites/btn", post: post %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>