<div class="d-flex">
  <h2 class="heading group-action">ユーザー一覧</h2>
  <%= link_to "グループ作成", new_group_path, class: "new-group-link btn btn-sm btn-success mr-3" %>
  <%= link_to "グループ一覧", groups_path, class: "index-group-link btn btn-sm btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm-3 users-card">
        <div class="card mt-4 shadow-lg card-height">
          <div class="card-profile-image">
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image, size: "200x200", class: "card-img-top profile-image-design" %>
            <% end %>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-6 px-0">
                <p class="mt-3">
                  <%= link_to user_path(user), class: "action-link" do %>
                    <i class="fa-solid fa-user"></i>
                    <%= user.name %>
                  <% end %>
                </p>
              </div>

              <div class="col-6 px-0">
                <%= render "public/relationships/btn", user: user %>
              </div>
            </div>

            <p>投稿数：<%= user.posts.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row pagenation">
    <%= paginate @users %>
  </div>
</div>