<% if @user.id == current_user.id %>
  <h2 class="heading">マイページ</h2>
<% else %>
  <h2 class="heading">ユーザー詳細</h2>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-2 mt-3">
      <%= image_tag @user.get_profile_image, size: "100x100", class: "profile-image-design" %>
    </div>
    <div class="col-sm-6">
      <table class="table table-borderless">
        <tr>
          <th class="user-heading">ユーザー名</th>
          <td class="user-body"><%= @user.name %></td>
        </tr>

        <tr>
          <% if @user.id == current_user.id %>
            <th class="user-heading">メールアドレス</th>
            <td class="user-body"><%= @user.email %></td>
          <% end %>
        </tr>

        <tr>
          <th class="user-heading">自己紹介</th>
          <td class="user-body"><%= @user.introduction %></td>
        </tr>
      </table>
    </div>

    <% if @user.id == current_user.id %>
      <div class="col-sm-1">
        <%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
      </div>

      <div class="col-sm-3">
        <%= link_to favorites_user_path(@user), class: "action-link" do %>
          <i class="fa-solid fa-heart"></i>
          いいね一覧を見る
        <% end %><br>
        <%= link_to user_followings_path(@user), class: "action-link" do %>
          <i class="fa-regular fa-user"></i>
          フォロー一覧を見る
        <% end %><br>
        <%= link_to user_followers_path(@user), class: "action-link" do %>
          <i class="fa-solid fa-user"></i>
          フォロワー一覧を見る
        <% end %>
      </div>
    <% elsif current_user != @user %>
      <div class="col-sm-4">
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "btn btn-info user-follow-button" %>
        <% else %>
          <%= link_to "フォロー", user_relationships_path(@user.id), method: :post, class: "btn btn-primary user-follow-button" %>
        <% end %>
        <%= link_to chat_path(@user.id), class: "action-link ml-3" do %>
          <i class="fa-solid fa-comment-dots"></i>
          chatを始める
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @user.posts.each do |post| %>
      <div class="col-sm-3 user-post-card">
        <div class="card mt-3 shadow-lg">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_post_image, class: "card-img-top" %>
          <% end %>

          <div class="card-body">
            <div class="row">
              <div class="col-8 px-0">
                <p>投稿日:<%= post.updated_at.strftime("%Y/%m/%d") %></p>
              </div>

              <div class=<%= "favorite-" + post.id.to_s %> >
                <%= render "public/favorites/btn", post: post %>
              </div>
            </div>

            <p>[ジャンル] <%= post.genre.name %></p>
            <p>
              <%= link_to post_path(post), class: "action-link" do %>
                <i class="fa-solid fa-book"></i>
                この投稿の詳細を見る
              <% end %>
            </p>
            <% if @user.id == current_user.id %>
              <p>
                <%= link_to edit_post_path(post), class: "action-link" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                  この投稿を編集する
                <% end %>
              </p>
              <p>
                <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: "action-link" do %>
                  <i class="fa-solid fa-trash"></i>
                  この投稿を削除する
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row pagenation">
    <%= paginate @posts %>
  </div>
</div>
