<h2 class="heading ml-5">ユーザー詳細</h2>

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
     <div>
        <%= image_tag @user.get_profile_image, size:'100x100', class: "profile-image" %>
     </div>
     <table class="table table-borderless">
       <tr>
         <th>ユーザー名</th>
         <td><%= @user.name %></td>
       </tr>

       <tr>
         <th>メールアドレス</th>
         <td>
           <% if @user.id == current_user.id %>
             <%= @user.email %>
           <% end %>
         </td>
       </tr>

       <tr>
         <th>自己紹介</th>
         <td><%= @user.introduction %></td>
       </tr>
     </table>
     <% if @user.id == current_user.id %>
       <%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
     <% elsif current_user != @user %>
       <% if current_user.following?(user) %>
         <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class:"btn btn-info" %>
       <% else %>
         <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:"btn btn-success" %>
       <% end %>
     <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div>
     <% @user.posts.each do |post| %>
       <div class="col-sm-6 mb-3 mb-sm-0">
         <div class="card">
           <%= link_to post_path(post.id) do %>
             <%= image_tag post.get_post_image, class: "card-img-top" %>
           <% end %>
           <div class="card-body">
             <p>投稿日:<%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
             <p>ジャンル:<%= post.genre.name %></p>
             <p><%= link_to "詳細を見る", post_path(post) %></p>
             <% if @user.id == current_user.id %>
               <p><%= link_to "編集", edit_post_path(post) %></p>
               <p><%= link_to "削除", post_path(post), method: :delete, data: {confirm: "削除しますか？"} %></p>
             <% end %>
           </div>
         </div>
       </div>
     <% end %>
    </div>
  </div>
</div>
