<!DOCTYPE html>
<html>
  <head>
    <title>HachuMania</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4f72ffbeaf.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header-color">
      <nav class="navbar navbar-expand-lg">
        <div class="container d-flex justify-content-between align-items-center">
          <%= link_to root_path, class: "mx-0" do %>
            <%= image_tag "logo.png", alt: "LOGO", size: "100x80" %>
          <% end %>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <% if request.fullpath.include? "/admin" %>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", admin_root_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ユーザー一覧", admin_users_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ジャンル一覧", admin_genres_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn nav-link ml-2" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ユーザー一覧", users_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "新規登録", new_user_registration_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li>
                    <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn nav-link ml-2" %>
                  </li>
                <% end %>
                <% elsif user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ユーザー一覧", users_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "マイページ", user_path(current_user), class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "新規投稿", new_post_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn nav-link ml-2" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ユーザー一覧", users_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "新規登録", new_user_registration_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li>
                    <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn nav-link ml-2" %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <div class="d-flex justify-content-end">
        <%= form_with url: posts_path, method: :get, local: :true do |f| %>
          <div class="input-group">
            <%= f.text_field :keyword, value: @keyword, class: "form-control search-control", placeholder: "爬虫類の種類を入力" %>
            <span class="input-group-btn input-group-append">
              <%= f.submit "検索", class: "btn btn-info" %>
            </span>
          </div>
        <% end %>
      </div>

    </header>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <main>
       <%= yield %>
    </main>
    <footer class="fixed-bottom">
      <div class="container">
        <div class="row no-gutters justify-content-center">
          <div class="col-auto text-center pt-3">
            <p>©CopyRight hachu_mania.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
